@color-thead: rgb(240, 240, 240);

body{
  background: #F6F6F6;
  height: 100vh;
}

.driver-box{
  padding: 0;
}
.driver-box__select{
  border: 1px solid rgb(204, 204, 204);
  margin-top: 5pt;
  width: 100%;

  option{
    padding: 3px;
  }
}

.delivery{
  overflow-x: hidden;
  overflow-y: auto;
  display: block;
  padding: 0;
}


.delivery__new-record-box{
  .panel-heading{
    padding: 2pt 15pt;
  }
  .panel-body{
    padding-top: 2px;
    padding-right: 4px;
    padding-left: 4px;
    padding-bottom: 4px;
  }
}
.dtn-addRecord{
  float: right;
 // margin-right: 0.5pt;
}

//форма добавления заявки на отвоз товара
.delivery__new-record-box__input-group{
  div{
    display: inline-block;
  }

  .form-group{
    margin: 0 1pt 4pt 0;
    input {
      padding: 0 3pt;

    }
  }
  .field-transportlogisticsclient-clientname{
    margin-left: 1pt;
  }
  .field-transportlogisticsrecord-note{
    margin-right: 0;
  }
}
.field-transportlogisticsclient-clientname{
  width: 150pt;
}
.field-transportlogisticsaddress-address{
  width: 200pt;
}

.field-transportlogisticsrecord-transporting_date{
  width: 70pt;
}
.field-transportlogisticsrecord-transporting_time{
  widows: 70pt;
}
.field-transportlogisticsrecord-size_cargo{
  width: 100pt;
}
.field-transportlogisticsrecord-note{
  width: 184pt;

}


.delivery__new-record-box__table{
  width: 100%;
  td{
    border: 1px solid #757575;
    padding: 2pt;
  }
}

.delivery__new-record-box__table__thead{
  background: @color-thead;
  td{
    text-align: center;
  }
}
.delivery__new-record-box__table__tbody{
  td{
    padding: 0;
  }
  input{
    width: 100%;
    border: 0;
  }
}

.delivery__new-record-box__client{
  width: 150pt;
}
.delivery__new-record-box__address{}
.delivery__new-record-box__date{
  width: 70pt;
}
.delivery__new-record-box__time{
  width: 70pt;
}
.delivery__new-record-box__size{
  width: 100pt;
}
.delivery__new-record-box__note{
  width: 130pt;
}


.delivery__new-record-box__client__input{}
.delivery__new-record-box__address__input{}
.delivery__new-record-box__date__input{
  text-align: center;
}
.delivery__new-record-box__time__input{}
.delivery__new-record-box__size__input{}
.delivery__new-record-box__note__input{}




.delivery-box{
  margin-top: 10pt;
  background: #ffffff;
  padding: 2pt;
}

//имя водителя в списке
.delivery-box__driver{
  font-weight: bold;
  line-height: 30px;
}

//распечатать заявки
.transportlogistics_print-list-requests{
  float: right;
  padding: 2px 6px;
}

.delivery-box__point__table__thead{
  background: @color-thead;
  td{
    text-align: center;
  }
}

.delivery-box__point__table{
  width: 100%;
  td{
    border: 1px solid #757575;
    padding: 2pt;
  }
}

.delivery-box__point__table__tbody{}

.delivery-box__point__table__tbody__row-number{
  text-align: center;
  width: 20pt;
}
.delivery-box__point__table__tbody__client{
  width: 150pt;
  text-align: center;
}
.delivery-box__point__table__tbody__address{
  text-align: justify;
}
.delivery-box__point__table__tbody__time{
  width: 70pt;
  text-align: center;
}
.delivery-box__point__table__tbody__size{
  width: 100pt;
  text-align: center;

}
.delivery-box__point__table__tbody__note{
  width: 130pt;
  text-align: justify;
}
.delivery-box__point__table__tbody__manager{
  width: 65pt;
  text-align: center;

}