@color-thead: rgb(240, 240, 240);

body{
  background: #F6F6F6;
  height: 100vh;
}

.request-table{
  width:1170px;
  td{
    border: 1px solid #000000;
  }
}

.request-table__thead{}
.request-table__thead__tr{

}
.request-table__tbody{}
.request-table__tbody__tr{
  height: 20px;
}
.request-table__tbody__tr__client{}
.request-table__tbody__tr__address{}
.request-table__tbody__tr__time{}
.request-table__tbody__tr__size-cargo{}
.request-table__tbody__tr__driver-note{}
.request-table__tbody__tr__responsible-manager{}
.request-table__tbody__tr__driver{}


